
.offers {
    width: 80%;
    max-width: 1200px;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 100px auto;
    padding: 20px 40px;
    background: linear-gradient(180deg, #f5c5f8, #e1ffea22 60%);
    border-radius: 15px;
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
}

.offers-left p {
    margin-bottom: 20px;
    color: dimgray;
    font-size: 18px;
}

.offers-left button {
    width: 200px;
    height: 50px;
    background-color: rgb(230, 8, 8);
    border: none;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.offers-left button:hover {
    background-color: rgb(180, 0, 0);
}

.offers-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.offers-right img {
    width: 90%;
    max-width: 400px;
}

/* Responsive */
@media (max-width: 900px) {
    .offers {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 30px;
    }

    .offers-left h1 {
        font-size: 36px;
    }

    .offers-left button {
        width: 180px;
        height: 45px;
        font-size: 16px;
        margin-left: 60px;
    }

    .offers-right {
        justify-content: center;
        margin-top: 20px;
    }

    .offers-right img {
        width: 80%;
    }
}
